<div class="row"><app-navbar></app-navbar></div>

<div class="row d-flex flex-column justify-content-center align-items-center">
  <div class="row text-center mt-5">
    <h1>About me</h1>
  </div>
  <dl class="row">
    <dt class="col-sm-6 text-end">Desarrollador:</dt>
    <dd class="col-sm-6">Jordi Mallafré Gázquez</dd>

    <dt class="col-sm-6 text-end">Versión:</dt>
    <dd class="col-sm-6">3.0</dd>

    <dt class="col-sm-6 text-end">Fecha de desarrollo:</dt>
    <dd class="col-sm-6">12/12/2023</dd>
  </dl>
</div>
